@page "/results"
@using BlazorApp.Client.Components

<PageTitle>Resultat</PageTitle>




<table class="ResultsTable">
    <tr>
        <th>Driver</th>
        <th>Bet Position</th>
        <th>Final Position</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>Driver name here</td>  <!--Drive name on repeat in here-->
        <td>Betted Position Here</td>   <!--Betted positon on repeat in here-->
        <td>Final Race Position</td>    <!--Final race position on repeat in here-->
        <td>Final points depending</td> <!--Final points achieved depending on calculated results-->
    </tr>
    <!--Example as follows-->
    <tr>
        <td>lando Norris</td>
        <td>6th</td>
        <td>4th</td>
        <td>8pts</td>
    </tr>
</table>
