@using Blazorise.Components
@using ErgastApi.Responses.Models
@using ErgastApi.Responses.Models.RaceInfo
@using Plk.Blazor.DragDrop

@inject IDriverService DriverService

<Container>
    <Dropzone Items="@Drivers">
        <div class="DriverList">
            <div class="DriverImage" style="background-image: url(/images/Drivers/@(context.Code).jpg)"></div>
            <div Class="DriverName">
                @context.FullName
            </div>
            <div class="DriverNum" style="background-image: url(/images/Drivers/DriverNum/@(context.Code).jpg)">
            </div>
        </div>
    </Dropzone>   
</Container>


@code
{

    private IList<Driver> Drivers = new List<Driver>();
    private string[] Positions = new string[10];

    [Parameter]
    public Race? SelectedRace { get; set; }

    private string SelectedDriver = "";

    protected override async Task OnInitializedAsync()
    {
        //Drivers = await DriverService.GetAllDrivers();
        
        var standings = await DriverService.GetCurrentDriverStandings();
        Drivers = standings.SelectMany(x => x.Standings.Select(y => y.Driver)).ToList();

        StateHasChanged();
    }    
}